In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error
import warnings 
warnings.filterwarnings("ignore")

In [9]:
import os
os.getcwd()

'/Users/Kumar/Desktop/Fifa-miniproject'

In [2]:
pd.set_option('display.max_columns', None) # in ordert to be able to see all the columns

In [11]:
df_fifa=pd.read_csv('/Users/Kumar/Desktop/Fifa-miniproject/fifa21_male2.csv',low_memory=False)
df_fifa.head(5)

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,Club Logo,Flag Photo,POT,Team & Contract,Height,Weight,foot,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Contract,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,https://cdn.sofifa.com/flags/it.png,69,Udinese 2008 ~ 2016,"6'0""",181lbs,Left,0,"Jul 1, 2008",NaN,€625K,€7K,€0,2008 ~ 2016,313,75,50,59,71,58.0,338,73,65.0,60,69,71,347,68,74,68.0,69,68.0,347,74,68.0,69,68,68,320,72,69.0,63.0,66.0,50,NaN,208,70,69,69.0,56,14,5,15,10,12,1929,408,3 ★,2★,Medium,High,2 ★,71,59,70,71,68,69,4,65+0,65+0,65+0,68+0,67+0,67+0,67+0,68+0,68+0,68+0,68+0,69+0,69+0,69+0,69+0,69+0,71+-2,70+-1,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,https://cdn.sofifa.com/flags/es.png,71,KAS Eupen 2014 ~ 2019,"5'10""",143lbs,Right,0,"Jul 19, 2014",NaN,€600K,€7K,€1.1M,2014 ~ 2019,337,68,64,61,76,68.0,369,69,79.0,79,71,71,305,56,50,62.0,65,72.0,324,75,54.0,64,60,71,362,71,71.0,72.0,73.0,75,79.0,153,70,43,40.0,56,9,12,13,11,11,1906,385,4 ★,3★,Medium,Medium,1 ★,53,69,73,69,58,63,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,https://cdn.sofifa.com/flags/gb-eng.png,71,Coventry City 2016 ~ 2020,"5'9""",161lbs,Right,0,"Jan 7, 2016",NaN,€1.1M,€15K,€0,2016 ~ 2020,337,80,64,41,77,75.0,387,79,84.0,77,69,78,295,48,42,71.0,59,75.0,284,72,58.0,29,56,69,317,69,39.0,69.0,74.0,66,NaN,99,35,34,30.0,51,9,6,13,16,7,1770,354,4 ★,4★,Medium,Low,2 ★,45,68,76,77,36,52,11,64+0,64+0,64+0,70+0,69+0,69+0,69+0,70+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,68+0,52+0,54+0,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,https://cdn.sofifa.com/flags/tt.png,82,Sunderland 2009,"5'11""",165lbs,Right,14,NaN,NaN,€0,€0,€0,2009,264,54,70,60,80,NaN,255,68,NaN,46,64,77,176,59,62,NaN,55,NaN,239,63,NaN,51,66,59,271,59,70.0,72.0,NaN,70,NaN,75,34,41,NaN,68,5,21,64,21,21,1348,369,3 ★,1★,NaN,NaN,1 ★,61,66,66,69,47,60,3,67+0,67+0,67+0,66+0,67+0,67+0,67+0,66+0,70+0,70+0,70+0,66+0,68+0,68+0,68+0,66+0,56+0,65+0,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,https://cdn.sofifa.com/flags/es.png,81,Vissel Kobe 2018 ~ 2021,"5'7""",150lbs,Right,0,"Jul 16, 2018",NaN,€5.5M,€12K,€7.2M,2018 ~ 2021,367,75,69,54,90,79.0,408,85,80.0,70,83,90,346,61,56,79.0,75,75.0,297,67,40.0,58,62,70,370,58,70.0,78.0,93.0,71,89.0,181,68,57,56.0,45,6,13,6,13,7,2014,420,4 ★,4★,High,Medium,4 ★,58,70,85,85,63,59,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [12]:
df_fifa.shape # We are going to check the dimensions of the dataset

(17125, 107)

In [ ]:
#We are going to try to predict the market value of the player
#Cleaning the dataset
#In order to make this analysis we are going to choose the columns we think can give us more information and use them to get the information

In [13]:
# We are going to choose the columns in order to create the final dataframe to work with.

columns_mv=['ID','Name','Age','OVA','Nationality','Club','BOV','BP','Height','Weight','Value','Wage','Release Clause','foot','Attacking','Defending','Mentality','Total Stats','Base Stats']
df_fifa_mv=df_fifa[columns_mv]
df_fifa_mv.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Height,Weight,Value,Wage,Release Clause,foot,Attacking,Defending,Mentality,Total Stats,Base Stats
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,"6'0""",181lbs,€625K,€7K,€0,Left,313,208,320,1929,408
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,"5'10""",143lbs,€600K,€7K,€1.1M,Right,337,153,362,1906,385
2,27,J. Cole,33,71,England,Coventry City,71,CAM,"5'9""",161lbs,€1.1M,€15K,€0,Right,337,99,317,1770,354
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,"5'11""",165lbs,€0,€0,€0,Right,264,75,271,1348,369
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,"5'7""",150lbs,€5.5M,€12K,€7.2M,Right,367,181,370,2014,420

In [14]:
df_fifa_mv.columns= [x.lower() for x in df_fifa_mv.columns] # We want to convert all the column names in lowercase
df_fifa_mv.head()

,id,name,age,ova,nationality,club,bov,bp,height,weight,value,wage,release clause,foot,attacking,defending,mentality,total stats,base stats
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,"6'0""",181lbs,€625K,€7K,€0,Left,313,208,320,1929,408
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,"5'10""",143lbs,€600K,€7K,€1.1M,Right,337,153,362,1906,385
2,27,J. Cole,33,71,England,Coventry City,71,CAM,"5'9""",161lbs,€1.1M,€15K,€0,Right,337,99,317,1770,354
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,"5'11""",165lbs,€0,€0,€0,Right,264,75,271,1348,369
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,"5'7""",150lbs,€5.5M,€12K,€7.2M,Right,367,181,370,2014,420

In [15]:
df_fifa_mv.rename(columns={'bp':'best position','height':'height(ft)','weight':'weight(lbs)','value':'value(M€)','wage':'wage(K€)','release_clause':'release_clause_million'},inplace=True) # bp column will be renamed as 'best position'
df_fifa_mv.head(1)

,id,name,age,ova,nationality,club,bov,best position,height(ft),weight(lbs),value(M€),wage(K€),release clause,foot,attacking,defending,mentality,total stats,base stats
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,"6'0""",181lbs,€625K,€7K,€0,Left,313,208,320,1929,408

In [16]:
df_fifa_mv.columns= [x.replace(' ','_') for x in df_fifa_mv.columns] # here we will replace blanks for the underscore 
                                                                     #in the column names
df_fifa_mv.head()

,id,name,age,ova,nationality,club,bov,best_position,height(ft),weight(lbs),value(M€),wage(K€),release_clause,foot,attacking,defending,mentality,total_stats,base_stats
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,"6'0""",181lbs,€625K,€7K,€0,Left,313,208,320,1929,408
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,"5'10""",143lbs,€600K,€7K,€1.1M,Right,337,153,362,1906,385
2,27,J. Cole,33,71,England,Coventry City,71,CAM,"5'9""",161lbs,€1.1M,€15K,€0,Right,337,99,317,1770,354
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,"5'11""",165lbs,€0,€0,€0,Right,264,75,271,1348,369
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,"5'7""",150lbs,€5.5M,€12K,€7.2M,Right,367,181,370,2014,420

In [17]:
df_fifa_mv.shape # the shape of our new dataframe

(17125, 19)

In [18]:
# We want to check the columns with missing values.
df_fifa_mv.isnull().sum() 
# As we can see, the only column with missing values is the one with the information of the club.

id                 0
name               0
age                0
ova                0
nationality        0
club              23
bov                0
best_position      0
height(ft)         0
weight(lbs)        0
value(M€)          0
wage(K€)           0
release_clause     0
foot               0
attacking          0
defending          0
mentality          0
total_stats        0
base_stats         0
dtype: int64

In [19]:
# The following thing we are going to do is to delete the players with no Club information 
# so we have all the columns withouth missing values
df_fifa_mv=df_fifa_mv.dropna()

In [20]:
df_fifa_mv.isnull().sum() # We confirm that the rows with missing values in 'Club' column were dropped

id                0
name              0
age               0
ova               0
nationality       0
club              0
bov               0
best_position     0
height(ft)        0
weight(lbs)       0
value(M€)         0
wage(K€)          0
release_clause    0
foot              0
attacking         0
defending         0
mentality         0
total_stats       0
base_stats        0
dtype: int64

In [21]:
# We are going to look for duplicated rows as well

duplicated=df_fifa_mv.duplicated().sum()
duplicated # as we can see there is no duplicated row in our dataframe

0

In [22]:
unique_values= df_fifa_mv.nunique(axis = 0)
print(unique_values) # Here we can see the unique values for each colu

id                17102
name              16154
age                  30
ova                  50
nationality         167
club                917
bov                  50
best_position        15
height(ft)           21
weight(lbs)          56
value(M€)           216
wage(K€)            142
release_clause     1200
foot                  2
attacking           366
defending           249
mentality           351
total_stats        1400
base_stats          249
dtype: int64

In [23]:
df_fifa_mv['name'].duplicated().sum() # We check for duplicated values in the 'name' column. There are 787 duplicated names.

948

In [24]:
df_fifa_mv[df_fifa_mv['name'].duplicated()]

,id,name,age,ova,nationality,club,bov,best_position,height(ft),weight(lbs),value(M€),wage(K€),release_clause,foot,attacking,defending,mentality,total_stats,base_stats
411,136130,Alex,33,79,Brazil,Milan,78,CB,"6'2""",203lbs,€4.5M,€80K,€0,Right,244,242,296,1757,368
612,149825,D. Murphy,36,67,Republic of Ireland,Bolton Wanderers,67,ST,"6'3""",194lbs,€275K,€2K,€481K,Left,328,70,323,1652,333
797,159202,G. Rodríguez,34,68,Mexico,Puebla FC,68,LB,"5'11""",172lbs,€325K,€4K,€553K,Left,273,205,318,1814,376
907,164079,Juninho,35,72,Brazil,Tigres U.A.N.L.,71,CB,"5'11""",176lbs,€725K,€20K,€1.2M,Right,329,210,324,1849,363
908,164082,Adriano,35,74,Brazil,KAS Eupen,74,LB,"5'8""",165lbs,€1.6M,€8K,€2.4M,Left,317,225,350,2045,424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17083,258972,I. Touré,17,57,France,Le Havre AC,59,CB,"6'3""",165lbs,€210K,€500,€578K,Right,190,169,194,1300,287
17084,258973,M. Fofana,19,56,France,Le Havre AC,60,RM,"5'10""",154lbs,€130K,€900,€254K,Right,239,134,250,1542,330
17103,259053,C. Castro,19,61,Colombia,Boavista FC,63,CB,"6'4""",185lbs,€425K,€850,€1.2M,Right,202,183,226,1351,290
17112,259074,A. Hajdari,17,53,Switzerland,FC Basel 1893,55,CB,"6'2""",176lbs,€120K,€500,€300K,Left,161,157,195,1207,259
17116,259082,J. Lawrence,17,52,Germany,Bayern München II,54,CB,"6'7""",185lbs,€100K,€500,€245K,Right,156,154,184,1189,261

In [25]:
df_fifa_mv.drop_duplicates(subset='name',inplace=True)

In [26]:
for i in df_fifa_mv['name']:
    df_fifa_mv['name'].dropna(inplace=True) # with this loop we have droped all the NaN values

In [27]:

df_fifa_mv['name'].duplicated().sum() # There are no more duplicates in the 'name' column

0